*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header{
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/*menu*/
.logo a{
    color: #16507b;
    font-weight: normal;
    font-size: 22px;
}

.menu ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a{
    color: #16507b;
    font-size: 14px;
}

.menu ul li a:hover, .logo a:hover{
    color: #007bff;
}

.menu ul li.btn-menu a{
    padding: 6px 16px;
    color: white;
    background-color: #007bff;
    border-radius: 7px;
}

#botao{
    padding: 10px 30px;
    color: white;
    background-color: #007bff;
    border-radius: 10px;
}

.menu ul li.btn-menu a:hover, #botao:hover{
    background-color: #0099ff;
    transition: 0.5s;
}

/*menu mobile*/
.menu-mobile{
    display: none;
}

.menu-mobile-itens{
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid blue;
    display: block;
    opacity: 0;
    transition: 0.3s linear;
}

.menu-mobile-itens ul{
    margin-bottom: 3%;
}

.menu-mobile-itens a{
    display: block;
    text-decoration: none;
    color: #0858ad;
}

.menu-mobile-itens.show{
    opacity: 1;
}

.menu-mobile-itens.hide{
    opacity: 0;
}

/*main*/
.main{
    background-image: url('https://bootstrapmade.com/demo/templates/OnePage/assets/img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    background-attachment: fixed;
    padding: 70px 0;
}

.main .center .main_cta {
    width: 100%;
    text-align: center;
    margin: 60px 0;
}

.main .center .main_cta h2{
    color: #16507b;   
    font-size: 45px;
}

.main .center .main_cta p{
    color: gray;
    font-size: 19px;
    margin: 10px 0 20px 0;
}

.main .center .main_cta button{
    background-color: #007bff;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    border-radius: 6px;
    border: 0;
    font-size: 17px;
    cursor: pointer;
}

.main .center .diferenciais{
    display: flex;
    gap: 2%;
    justify-content: center;
    flex-wrap: wrap;
}

.main .center .diferenciais .diferente-single{
    background-color: white;
    flex: 1;
    border-radius: 10px;    
    padding: 50px 20px;
    box-shadow: 1px 1px 50px 1px rgba(0,0,0,0.2);    
    transition: 0.4s;
}

.main .center .diferenciais .diferente-single:hover{
    transform: scale(1.1, 1.1);
}  



.main .center .diferenciais .diferente-single i{
    color: #16507b;
    font-size: 32px;
}

.main .center .diferenciais .diferente-single h3{
    color: #16507b;
    margin: 10px 0;
    font-size: 17px;
}

.main .center .diferenciais .diferente-single p{
    color: rgb(49, 49, 49);
    font-size: 15px;
    line-height: 30px;
}


/*sessão sobre*/
.about{
    padding: 4% 0;
}

.about .center{
    justify-content: center;
}

.about .call-about{
    width: 100%;
    text-align: center;
}

.call-about h2{
    color: #16507b;  
    text-align: center;
    font-size: 30px;
}

.call-about p{
    font-size: 14px;  
    color: gray;
    margin: 2% 0;
}

.about .content-about{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.content-about div{
    flex: 1;    
}

.content-about div ul li{
    list-style-type: none;
    margin-top: 3%;
}

.content-about div ul{
    margin-top: 3%;
}

.content-about div ul i{
    color: #007bff;
    margin-right: 1%;
}

.content-about div p, .content-about div ul li{
    color:rgb(49, 49, 49);
}

.content-about div button{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 7px;
}

.content-about div button:hover{
    background-color: #007bff;
    color: white;
    transition: 0.4s;
}


/*conquistas*/
.conquistas{
    background-color: #f8fbfe;
    padding: 4% 0;
    width: 100%;
}

.conquistas .center{
    justify-content: center;
}

.conquista-single{
    flex: 1;
    text-align: center;
}

.conquista-single h2, .conquista-single p{
    color: #124265;
}

.conquista-single h2{
    font-size: 30px;
}

/*sobre*/
.sobre-imagem{
    padding: 5% 0;
}

.sobre-imagem .center{
    display: flex;
    gap: 2%;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sobre-imagem .center .img-sobre-imagem{
    width: 50%;
    max-width: 100%;
}

.sobre-imagem .center .conteudo-sobre-imagem{
    flex: 1;
}

.sobre-imagem .center .conteudo-sobre-imagem h2{
    color: #16507b;
}

.sobre-imagem .center .conteudo-sobre-imagem i{
    color: #007bff;
    margin-right: 1%;
}

.sobre-imagem .center .conteudo-sobre-imagem ul li, .conteudo-sobre-imagem p {
    margin: 2% 0;
    color:rgb(49, 49, 49);
}

.sobre-imagem .center .conteudo-sobre-imagem p#diferente {
    font-style:
    italic;
    font-size: 14px;
    color:gray;
    margin: 2% 0;
}

/*clientes conquista*/
#clientes{
    padding: 4% 0;
}

#clientes .center{
    width: 100%;
    align-items: center;
    gap: 1%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

#clientes .img-single{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#clientes .img-single img{
    width: 50%;
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: 0.5s;    
}

#clientes .img-single img:hover{
    filter: grayscale(0%);
    transform: scale(1.2,1.2);
}


/*depoimentos*/
section.depoimentos{
    padding: 4% 0;
    width: 100%;
}

section.depoimentos .depoimento-chamada{
    text-align: center;
}

section.depoimentos .center{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.depoimento-chamada h2{
    color: #16507b;
    font-size: 30px;
}

.depoimento-chamada p{
    color: gray;
    font-size: 14px;
    margin: 2% 0;
}

.carrossel{
    display: flex;
    width: 100%;
    gap: 2%;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: space-evenly;
}

.carrossel .carrossel-single{
    flex: 1;
    text-align: center;
}

.carrossel .carrossel-single img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 2% 0;
}

.carrossel-single p{
    color: gray;
    font-size: 15px;
}

.carrossel-single .carrossel-single-box{
    background-color: #f8fbfe;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 5%;
}


.carrossel-single .carrossel-single-box p{
    color:rgb(49, 49, 49);
    font-style: italic;
}

.carrossel-single .carrossel-single-box i{
    font-size: 15px;
    color: #8bbbb5;
}

.fa-quote-left {
    margin-right: 4%;
}

.fa-quote-right{
    margin-left: 4%;
}


#service-section{
    padding: 5% 0;
    width: 100%;
}

#service-section .center{
    justify-content: center;
    text-align: center;
    width: 100%;
    
}

#service-section .center h2{
    text-transform: uppercase;
    color: #16507b;
    font-size: 30px;
}

#service-section .center > p{
    color: gray;
    font-size: 14px;
    margin-top: 2%;
}

.service-container{
    margin: 3% auto;
    display: flex;
    padding: 0 2%;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;    
}

.service-container .service-single{
    flex: 30% 1 0;
    background-color: white;
    border-radius: 5px;
    padding: 5rem 1.5rem;
    text-align: center;
}

.service-single i{
    font-size: 30px;
    color: gray;
    transition: 0.3s;
}

.service-single h3{
    margin-top: 3%;
    font-size: 20px;
    color:#16507b;
    font-weight: 600;
}

.service-single p{
    font-size: 14px;
    margin-top: 3%;
    color: rgb(49, 49, 49);
}

.service-container .service-single:hover{
    box-shadow: 1px 1px 30px 1px rgb(110, 109, 109, 0.1);
    transition: 0.3s;
}

i.fa-basketball-ball:hover{
    color:#0099ff;
}

i.fa-file-alt:hover{
    color: orange;
}

i.fa-clock:hover{
    color: rgb(128, 0, 75);
}

i.fa-leaf:hover{
    color: green;
}

i.fa-play:hover{
    color: rgb(255, 72, 0);
}

i.fa-archway:hover{
    color: aqua;
}



/*call to action*/
.call-to-action.conquistas{
    background-color:#007bff;
}

.call-to-action.conquistas .center{
    text-align: center;
    color: white;
    font-size: 16px;
}

.call-to-action.conquistas .center h2{
    font-size: 25px;
}

.call-to-action.conquistas .center p{
    margin-top: 3%;
}

.call-to-action.conquistas .center a{
    display: block;
    color: white;
    margin-top: 3%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
    transition: 0.3s;
}

.call-to-action.conquistas .center a:hover{
    background-color: white;
    color: #007bff;
}


/*team*/
.team.conquistas{   
    text-align: center;
}

.team.conquistas .center > h2{
    text-transform: uppercase;
    color: #16507b;
    font-size: 30px;
    text-align: center;
}

.team.conquistas .center > p{
    color: gray;
    font-size: 14px;
    margin-top: 2%;
}

.team.conquistas .center{
    margin: 2% auto;
    padding: 0;
}

.staff{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 0.8rem;
    margin-top: 3%;    
}

.worker{
    flex-basis: 24%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 30px 1px #eee;   
    padding-bottom: 3%;
}

.worker img{
    width: 100%;
}

.worker h3 {
    margin-top: 10%;
    font-size: 19px;
    color: #16507b;
}

.worker figure {
    position: relative;
}

.worker figure figcaption{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    text-align: center;
    bottom: 0px;
    color: black;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    opacity: 0;
    transition: opacity 0.3s;
}

.worker figure figcaption i{
    color: #16507b;
    font-size: 1.2em;
    transition: 0.3s;
}

.worker figure figcaption i:hover{
    color: #007bff;
}

.worker p{
    color: gray;
    font-size: 14px;
}

.worker:hover > figure figcaption{
    opacity: 1;
}


/*pricing*/
.pricing{
    padding: 4% 0;
    width: 100%;
}

.pricing .center{
    text-align: center;
    justify-content: center;
}

.pricing .center > h2{
    text-transform: uppercase;
    color: #16507b;
    font-size: 30px;
    text-align: center;   
}

.pricing .center p{
    color: gray;
    font-size: 14px;
    margin: 2% 0;
}


.pricing .center .offers{
    display: flex;
    gap: 1.5rem;
    margin-top: 1%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing .center .offer-single{
    flex: 1;
    padding: 2.5rem;    
    text-align: center;
    border-radius: 10px;
}

.pricing .center .offer-single:nth-of-type(odd){
    background-color: white;
    box-shadow: 1px 1px 30px 1px #eee;  
}

.pricing .center .offer-single:nth-of-type(even){
    background-color: #007bff;
    color: white;
}

.pricing .center .offer-single h3.offer-title{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 8%;
    font-weight: 500;
}

.pricing .center .offer-single:nth-of-type(odd) h3.offer-title{ 
    color: #16507b;   
}

.pricing .center .offer-single h4.offer-featured{
    display: inline-block;
    margin-bottom: 8%;
    font-size: 35px;
    font-weight: 500;
}

.pricing .center .offer-single h4.offer-featured sup{    
    font-size: 20px;
}

.pricing .center .offer-single:nth-of-type(odd) h4{
    color: #007bff; 
}

.pricing .center .offer-single span.offer-period{
    font-weight: 300;
}

.pricing .center .offer-single:nth-of-type(odd) span.offer-period{
    color: gray;
}

.pricing .center .offer-single ul.offer-list li{
    margin-bottom: 7%;
    font-size: 14px;
}

.pricing .center .offer-single:nth-of-type(odd) ul.offer-list li{
    color: #16507b;
}

.pricing .center .offer-single ul.offer-list li.disabled{
    text-decoration: line-through;
    color: gray;
}

.pricing .center .offer-single:nth-of-type(even) ul.offer-list li.disabled{
    color: white;
}

.pricing .center .offer-single a.offer-button{
    padding: 5px 30px;
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
    background-color: transparent;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 15px;
}

.offer-single:nth-of-type(odd) a.offer-button{
    color: #16507b;
    border: 2px solid #007bff;
}

.offer-single:nth-of-type(even) a.offer-button{
    color: white;
    border: 2px solid white; 
}

.offer-single:nth-of-type(odd) a.offer-button:hover{
    background-color: #007bff;;
    color: white;    
}

.offer-single:nth-of-type(even) a.offer-button:hover{
    background-color: white;
    color: #007bff;;     
}


/*faq*/
.faq.conquistas .center{
    justify-content: center;
}

.faq.conquistas .center > h2{
    text-transform: uppercase;
    color: #16507b;
    font-size: 30px;
    text-align: center;
}

.faq.conquistas .center > p{
    color: gray;
    font-size: 14px;
    margin: 2% 0;
    text-align: center;
}

.faqs{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin: 1% 0 3% 0;
}

.faqs .faq-single{
    background-color: #fff;
    border-radius: 10px;
    padding:1.5rem;
    box-shadow: 1px 1px 3px 1px #eee;
    cursor: pointer;
    transition: 0.2s;
}

.faqs .faq-single .question{
    display: flex;
    justify-content: space-between;
}

.faqs .faq-single .question h3{
    font-size: 17px;
    font-weight: 500;
}

.faqs .faq-single .question h3, i.fa-chevron-down{    
    color: rgb(49, 49, 49);
}

i.fa-chevron-down{
    font-size: 15px;
}

.faqs .faq-single .question h3 i{
    color: #8bbbb5;
    margin-right: 5px;
    font-size: 15px;
}

.faqs .faq-single:hover .question h3{
    color: #0099ff;
}

.faqs .faq-single:hover .question i.fa-chevron-down{
    color: #0099ff;
}


.faqs .faq-single .answer{
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: 0.5s;
}

.faqs .faq-single .answer p{
    color: gray;
    font-size: 15px;
    margin-top: 1%;
}

.faqs .faq-single.active .answer{
    height: auto;
    opacity: 1;
}

.faqs .faq-single.active .question h3{
    color: #0099ff;
}

.faqs .faq-single.active i.fa-chevron-down{
    transform:rotate(180deg);
    color: #0099ff;
}

/*contact*/
.contact{
    width: 100%;
    padding: 5% 0;
}

.contact .center{
    justify-content: center;    
    padding: 0;
}

.contact .center > h2{
    text-transform: uppercase;
    color: #16507b;
    font-size: 30px;
    text-align: center; 
}

.contact .center > p{
    color: gray;
    font-size: 14px;
    margin: 2% 0;
    text-align: center;
}

.contact .center iframe{
    width: 100%;
    display: block;
    margin: 1% 0 3% 0;
    border-radius: 5px;
    min-height: 400px;
}

.contact .center .contact-info{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.communication{
    flex-basis: 30%;
}

.communication .communication-item{
    margin-bottom: 6%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

.alinhamento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3%;
}

.communication .communication-item i{
    color: #007bff;
    background-color: #c8e8fd;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    display: block;
    width: 40px;
    height: 100%;
    text-align: center;
    transition: 0.3s;
}

.communication .communication-item i:hover{
    color:  #c8e8fd;
    background-color: #007bff;
}

.communication .communication-item h4{
    color: #124265;
    font-size: 20px;
    font-weight: 500;
    display: block;
}

.communication .communication-item p{
    color: #0099ff;
    font-size: 14px;
    display: block;
}


.contact-form{
    flex-basis: 65%;
}

.contact-form input, .contact-form textarea{
    display: block;
    width: 100%;
    margin-bottom: 3%;
    height: 40px;
    padding: 0 1%;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.contact-form textarea{
    padding: 1%;
    min-height: 120px;
}

.linha{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 100%;
}

.linha input{
    flex: 1;
}

.contact-form button#contact-button{
    display: block;
    color: white;
    background: #007bff;
    padding: 10px 25px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin: 0 auto;
}

button#contact-button:hover{
    background: #0099ff;
}


/*botão de voltar ao topo*/
.topo{
    position: fixed;
    bottom: 40px;
    padding: 10px 15px;
    border-radius: 5px;
    right: 10px;
    background-color:#007bff;
    color: white;
    transition: 0.3s;
}

.topo:hover{
    background-color:#0099ff;
}

/*footer*/
#footer{
    margin-top: auto;
    padding: 0;
    min-width: 100%;
    box-shadow: 1px 1px 20px 1px rgba(158, 157, 157, 0.2);
}

#footer .center{
    min-width: 100%;
    justify-content: center;
    align-items: center;    
    padding: 4% 0;
    margin: 0 auto;
}


#footer .center.secundario{    
    background-color: #f8fbfe;
    padding: 2% 0;
}


#footer .center .footer-info{
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    gap: 1rem;
}

.footer-info div{
    flex: 1;
}

.footer-info div.newsletter{
    flex: 1.5;
}

.footer-info .one-page h3{
    font-weight: 400;
    font-size: 25px;
}

.footer-info .one-page p{
    color:rgb(95, 95, 95);
    font-size: 14px;
    margin-top: 1%;
}

.footer-info .one-page p.margem{
    margin-top: 2rem;
}

.footer-info .list h4{
    color: #16507b;
    font-size: 16px;
}

.footer-info .list li{
    margin-top: 1rem;
}

.footer-info .list li a i{
    font-size: 11px;
    color: #007bff;
}

.footer-info .list li a{
    font-size: 15px;
    color:rgb(95, 95, 95);
    transition: 0.3s;
}

.footer-info .list li a:hover{
    color: #007bff;
}

.footer-info .newsletter h4{
    color: rgb(49, 49, 49);
    font-size: 16px;
}

.footer-info .newsletter p{
    margin: 1rem 0;
    color: rgb(49, 49, 49);
    font-size: 15px;
}

.footer-info .newsletter form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter form input{
    height: 45px;
    outline: none;    
    border: none;    
}

.footer-info .newsletter input[type="email"]{
    width: 70%;
    padding: 0 1%;
    flex: 2;
    border: 1px solid #007bff;
    border-right: none;
    border-radius: 5px 0 0px 5px;
}

.footer-info .newsletter input[type="submit"]{
    border-radius: 0px 5px 5px 0px;
    background: #007bff;
    color: white;
    flex: 1; 
    cursor: pointer;
    transition: 0.3s;
}

.footer-info .newsletter input[type="submit"]:hover{
    background-color: #0099ff;
}


#footer .center .social-media{
    width: 1100px;
    margin: auto;    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-media div{
    flex: 1;
}

.social-media .copy{
    flex: 4;
}


.social-media .copy p{
    font-size: 15px;
    color:rgb(49, 49, 49);
}

.copy p.menor{
    font-size: 14px;
}

.social-media .copy p a{
    color: #0858ad;
    transition: 0.3s;
}

.social-media .copy p a:hover{
    color: #007bff;
}

.media ul{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.media ul li a i{
    color:white;
    background-color: #007bff;
    transition: 0.3s;
    padding: 10px;
    border-radius: 5px;
}

.media ul li a i:hover{
    background-color: #0099ff;
}




/*media query*/
@media screen and (max-width: 768px){
    .main .center .diferenciais{
        margin: 0 5%;
    }
    
    .main .center .diferenciais .diferente-single{
        flex: 0 0 100%;
        margin-bottom: 3%;
    }

    .content-about div{
        flex-basis: 100%;
        margin-bottom: 2%;
    }

    .conquista-single{
        flex-basis: 50%;
        margin-bottom: 5%;
    }

    .menu{
        display: none;
    }

    .menu-mobile{
        display: block;
        cursor: pointer;
        font-size: 23px;
    }

    .menu-mobile:hover{
        color: #124265;
        transition: .3s;
    }

    .sobre-imagem .center .img-sobre-imagem{
        width: 100%;
        margin-bottom: 3%;
    }

    #clientes .center{
        justify-content: space-between;
        gap: 5%;
        padding: 3%;
    }

    #clientes .img-single{
        flex-basis: 30%;        
    }

    .depoimento-chamada{
        margin: 2% 3%;
    }

    .carrossel .carrossel-single{
        flex-basis: 100%;
        margin: 2% 5%;
    }

    .service-container .service-single{
        flex-basis: 100%;
        flex-shrink: 1;
        flex-grow: 1;
    }


    .team.conquistas{
        padding: 4% 4%;   
        text-align: center;
    }

    .worker{        
        flex-basis: 100%;        
        margin-top: 5%;
    }
 
    .pricing .center .offer-single{
        flex-basis: 100%;
    }

    .pricing .center{
        padding: 1% 4%;
    }

    .faq .center{
        padding: 1% 4%;
    }

    .contact .center, .about .center, .sobre-imagem .center, #service-section .center, .call-to-action.conquistas .center, header nav.center{
        padding: 1% 4%;
    }

    .communication, .contact-form{
        flex-basis: 100%;
    }


    .footer-info div, .social-media div{
        flex-basis: 100%;
        margin: 2% 0;
    }

    #footer .center, #footer .center.secundario{
        padding: 2% 4%;
    }

    .social-media .copy{
        text-align: center;
    }
}